html,
body {
	width: 100%;
	height: 100%;
	min-width: 6.4rem;
}
body {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}
.header {
	position: relative;
	height: 0.8rem;
	flex-shrink: 0;
	/* flex: none; */
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
}
.header>div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header>.back {
	width: 1rem;
	height: 0.56rem;
	flex-direction: column;
}
.header>.back>a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}
.header>.back img {
	width: 0.24rem;
	height: 0.44rem;
}
.header>.ugou {
	flex-grow: 1;
}
.header>.ugou>span {
	font-size: 0.36rem;
	color: #333;
	text-align: center;
}
.header>.menu {
	width: 0.8rem;
	height: 0.56rem;
}
.header>.menu>img {
	width: 0.4rem;
	height: 0.32rem;
}
.nav {
	width: 100%;
	height: 0.98rem;
	background: #666;
	z-index: 2;
	display: none;
}
.nav.active {
	display: block;
}
.nav>ul {
	display: flex;
	width: 100%;
	height: 100%;
}
.nav>ul>li {
	display: flex;
	flex: 1;
}
.nav>ul>li>a {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav>ul>li>a>img {
	width: 20%;
}
.nav>ul>li>a>span {
	font-size: 28px;
	color: white;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content>ul.address-wrapper {}
.content>ul.address-wrapper>li {
	padding: 0.1rem 0.2rem;
	border-bottom: 10px solid #eee;
}
.content>ul.address-wrapper>li>.address-list {
	margin: 0 0.2rem;
}
.content>ul.address-wrapper>li>.address-list>ul {
	border-bottom: 1px dashed #aaa;
}
.content>ul.address-wrapper>li>.address-list>ul>li.first {
	padding-bottom: 0.2rem;
	font-size: 0.3rem;
}
.content>ul.address-wrapper>li>.address-list>ul>li.first>span.name {}
.content>ul.address-wrapper>li>.address-list>ul>li.first>span.phone {}
.content>ul.address-wrapper>li>.address-list>ul>li.second {
	padding-bottom: 0.2rem;
	font-size: 0.24rem;
}
.content>ul.address-wrapper>li>.address-list>ul>li.second>span.address {}
.content>ul.address-wrapper>li>.address-list>p {
	margin-top: 0.2rem;
	font-size: 0.24rem;
	text-align: right;
}
.content>ul.address-wrapper>li>.address-list>p>* {}
.content>ul.address-wrapper>li>.address-list>p>span {
	display: inline-block;
	color: #A0A0A0;
}
.content>ul.address-wrapper>li>.address-list>p>span>img {
	width: 0.32rem;
	height: 0.32rem;
	margin-right: 0.1rem;
}
.content>ul.address-wrapper>li>.address-list>p>span.default {
	float: left;
}
.content>ul.address-wrapper>li>.address-list>p>span.default>img {}
.content>ul.address-wrapper>li>.address-list>p>span.edit {
	margin-right: 0.1rem;
}
.content>ul.address-wrapper>li>.address-list>p>span.edit>img {}
.content>ul.address-wrapper>li>.address-list>p>span.remove {}
.content>ul.address-wrapper>li>.address-list>p>span.remove>img {}


/*------------------*/
.update-address {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ddd;
	display: none;
	z-index: 100;
}
.update-address.active {
	display: block;
}
form {
	display: flex;
	flex-direction: column;
	padding: 0.2rem 0.3rem;
}
form label {
	position: relative;
	box-sizing: border-box;
	margin-top: 0.24rem;
	padding: 0.08rem 0.24rem 0.08rem 1.2rem;
	background-color: #f5f5f5;
	border-radius: 0.06rem;
}
form label>span.receive {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.24rem;
	font-size: 0.28rem;
	font-style: normal;
}
form label>input {
	outline: none;
	border: none;
	height: 0.68rem;
	width: 100%;
	font-size: 0.28rem;
	background-color: #f5f5f5;
	box-sizing: border-box;
	padding-left: 0.5rem;
}
form label>a.btn-info {
	border: none!important;
	outline: none!important;
	font-size: 0.28rem;
	color: #333!important;
	height: 0.68rem!important;
	line-height: 0.48rem;
	width: 95%;
	text-align: left;
	margin-left: 0.3rem;
}
form label>a.btn-info.active {
	background-color: #F5F5F5;
}
button.save-address {
	border: none;
	outline: none;
	width: 100%;
	height: 0.88rem;
	text-align: center;
	line-height: 0.88rem;
	margin-top: 0.24rem;
	font-size: 0.30rem;
	background: #ff0000;
	color: white;
	border-radius: 0.1rem;
}
.add-wrapper {
	text-align: center;
}
span.add-address {
	display: inline-block;
	width: 2.6rem;
	padding: 0.1rem 0;
	border-radius: 0.1rem;
	background: #ff0000;
	color: white;
	text-align: center;
	text-decoration: none;
}