html,body {
	width: 100%;
	height: 100%;
}
body {
	font-size: 0.28rem;
}
header {
	display: flex;
	height: 0.88rem;
	background: #F8F8F8;
	border-bottom: 1px solid #ddd;
}
.login {
	width: 0.6rem;
	height: 100%;
	flex-grow: 0;
}
.login>a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-left: 0.2rem;
}
.login>a>img {
	width: 50%;
	height: 50%;
}
header>.title {
	flex-grow: 1;
	align-self: center;
	text-align: center;
	font-size: 0.36rem;
}
.main {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.login-type {
	display: flex;
	border-bottom: 1px solid #ccc;
	margin: -0.02rem 0 0;
}
.login-type>span {
	flex-grow: 1;
	text-align: center;
	padding-bottom: 0.15rem;
}
.login-type>span.active {
	color: rgb(255,70,100);
	border-bottom: 2px solid red;
}
.login-type>span.title-phone {}
.login-type>span.title-pwd {}
.login-phone{}
.login-pwd { display: none;}
.form-item-wrapper {
	display: flex;
	height: 1.1rem;
	border-bottom: 1px solid #aaa;
}
.form-item-wrapper>input {
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: 0.26rem;
	text-indent: 0.2rem;
}
button[class^=btn] {
	width: 100%;
	height: 0.88rem;
	border: none;
	outline: none;
	box-shadow: 0 4px 2px #f1eadf;
	font-size: 0.32rem;
	background: #999;
	color: #FFF;
	margin-top: 0.8rem;
}
.form-item-wrapper>input.phone {}
.form-item-wrapper>a.code {
	width: 1.4rem;
	border-left: 1px solid #aaa;
	padding: 0.2rem 0.2rem 0.2rem 0.1rem;
	align-self: center;
	font-size: 0.26rem;
}
.form-item-wrapper>input.scode {}
.form-item-wrapper>button.btn-login {}
.login-phone>span.gift {
	display: block;
	text-align: center;
	margin-top: 0.1rem;
	color: rgb(255,70,100);
}
.form-item-wrapper>input.account {}
.form-item-wrapper>input.pwd {}
.pwd-img-position {
	position: relative;
}
.form-item-wrapper>.pwd-img {
	position: absolute;
	bottom: -50%;
	right: 0;
	height: 100%;
}
.form-item-wrapper>.pwd-img>img {
	display: none;
	width: 50%;
}
.form-item-wrapper>.pwd-img>img.active {
	display: block;
}
.login-pwd>span.forgot {
	display: block;
	text-align: right;
	margin-top: 0.1rem;
}
.login-other {
	margin-top: 1.5rem;
}
.login-other>.hd {
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 0.24rem;
	color: #a0a0a0;
}
.login-other>.hd>span {}
.login-other>.hd>span:before {
	content: '';
	height: 0.02rem;
	width: 2.5rem;
	position: absolute;
	top: 50%;
	right: 10%;
	border-top: 1px solid #ddd;
	
}
.login-other>.hd>span:after {
	content: '';
	height: 0.02rem;
	width: 2.5rem;
	position: absolute;
	top: 50%;
	left: 10%;
	border-top: 1px solid #ddd;
}
.login-other>ul {
	display: flex;
	text-align: center;
	margin: 0 1.5rem;
}
.login-other>ul>li {
	flex-grow: 1;
	display: inline-block;
	margin-top: 0.5rem;
}
.login-other>ul>li>a {
	display: inline-block;
}
.login-other>ul>li>a>img {
	width: 100%;
}
.login-other>p {
	margin-top: 0.2rem;
	text-align: center;
	font-size: 0.24rem;
	color: #747474;
}
.login-other>p>a {
	color: #ff7563;
	text-decoration: underline;
	margin-left: 0.1rem;
}
.footer {
	display: flex;
	margin-top: 2rem;
	padding-bottom: 1rem;
}
.footer>ul {
	display: flex;
	flex-grow: 1;
}
.footer>ul>li {
	flex-grow: 1;
	color: #666;
	text-align: center;
}
.footer>ul>li>img {}
