html,
body {
	width: 100%;
	height: 100%;
	min-width: 6.4rem;
}
body {
	display: flex;
	flex-direction: column;
	font-size: 0.24rem;
	background: #eee;
}
button {
	border: none;
	outline: none;
	background-color: transparent;
}
.header {
	position: relative;
	height: 0.8rem;
	/* flex-shrink: 0; */
	flex: none;
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
}
.header>div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header>.back {
	width: 1rem;
	height: 0.56rem;
	flex-direction: column;
}
.header>.back>a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.header>.back img {
	width: 0.24rem;
	height: 0.44rem;
}
.header>.ugou {
	flex-grow: 1;
}
.header>.ugou>span {
	font-size: 0.36rem;
	color: #333;
	text-align: center;
}
.header>.menu {
	width: 0.8rem;
	height: 0.56rem;
}
.header>.menu>img {
	width: 0.4rem;
	height: 0.32rem;
}
.nav {
	width: 100%;
	height: 0.98rem;
	background: #666;
	z-index: 2;
	display: block;
}
.nav.active {
	display: none;
}
.nav>ul {
	display: flex;
	width: 100%;
	height: 100%;
}
.nav>ul>li {
	display: flex;
	flex: 1;
}
.nav>ul>li:last-child {
	background: #555;
}
.nav>ul>li>a {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav>ul>li>a>img {
	width: 20%;
}
.nav>ul>li>a>span {
	font-size: 0.28rem;
	color: white;
}
.management {
	position: relative;
	height: 1.8rem;
	padding: 0.2rem;
	box-sizing: border-box;
	background-image: url(../images/profile/top-backgroundc.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
a.user-name {
	display: block;
	color: #fff;
}
a.user-name>img.people {
	width: 1.2rem;
}
a.user-name>span.name {
	position: absolute;
	top: 0.3rem;
	left: 1.6rem;
	font-size: 0.32rem;
}
a.user-name>span.vip {
	position: absolute;
	bottom: 0.3rem;
	left: 1.55rem;
	font-size: 0.28rem;
	background-color: #bd2302;
	padding: 0.05rem 0.2rem;
	border-radius: 0.56rem;
}
a.user-name>img.information {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	width: 0.44rem;
}
a.user-name>span.account {
	position: absolute;
	bottom: 0.2rem;
	right: 0.2rem;
	font-size: 0.28rem;
}
.user-info {
	flex-grow: 1;
}
.my-order {
	display: flex;
	height: 2.4rem;
	background: #fff;
}
.my-order>a {
	display: block;
	width: 100%;
	color: #333;
}
.my-order>a>p {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	height: 0.84rem;
	padding-left: 0.3rem;
	font-size: 0.32rem;
	border-bottom: 1px solid #ddd;
}
.my-order>a>p>span {
	font-size: 0.24rem;
	padding-right: 0.5rem;
}
.my-order>a>p>span:after {
	content: '';
	position: absolute;
	right: 0.2rem;
	top: 50%;
	transform: translateY(-50%);
	width: 0.2rem;
	height: 0.2rem;
	background-image: url(../images/profile/gray-open.png);
	background-size: 100% 100%;
}
.my-order>a>ul {
	display: flex;
	height: 1.6rem;
}
.my-order>a>ul>li {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}
.my-order>a>ul>li>i {}
.my-order>a>ul>li>i>img {
	width: 0.42rem;
}
.my-order>a>ul>li>span {
	font-size: 0.26rem;
}
.my-pay {
	display: flex;
	height: 2.4rem;
	background: #fff;
	margin-top: 0.2rem;
}
.my-pay>a {
	display: block;
	width: 100%;
	color: #333;
}
.my-pay>a>p {
	display: flex;
	align-items: center;
	height: 0.84rem;
	padding-left: 0.3rem;
	font-size: 0.32rem;
	border-bottom: 1px solid #ddd;
}
.my-pay>a>p>span {
	font-size: 0.24rem;
	padding-right: 0.5rem;
}
.my-pay>a>ul {
	display: flex;
	height: 1.6rem;
}
.my-pay>a>ul>li {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}
.my-pay>a>ul>li>i {
	font-style: normal;
	font-weight: bold;
}
.my-pay>a>ul>li>span {
	font-size: 0.26rem;
	margin-top: 0.2rem;
}
.user-list {
	height: 1.6rem;
	background: #fff;
	margin-top: 0.2rem;
}
.user-list>ul {
	display: flex;
	height: 100%;
}
.user-list>ul>li {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}
.user-list>ul>li>a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-list>ul>li>a>i {}
.user-list>ul>li>a>i>img {
	width: 0.46rem;
}
.user-list>ul>li>a>span {
	font-size: 0.26rem;
	margin-top: 0.2rem;
	color: #333;
}
.sub>ul>li {
	flex-grow: 0;
	margin-left: 0.45rem;
	margin-right: 0.55rem;
}
.footer {
	display: flex;
	flex: none;
	height: 1rem;
	justify-content: space-between;
	border-top: 1px solid #ddd;
	background: #f8f8f8;
	color: #666;
}
.footer>div {
	padding: 0.3rem;
}
.footer>div>span{
	padding-right: 0.1rem;
}
footer {
	text-align: center;
	padding-bottom: 0.2rem;
	color: #a0a0a0;
	background: #f8f8f8;
}
